.container{
    margin-top: 20px;
}
.row{
    box-shadow: -30px 40px 40px rgba(0, 0, 0, 0.377) !important;
}


.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-box {
    width: 48%;
}

.input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}



.input-box input {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group label {
    font-size: 14px;
}

.forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-group button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#create-account {
    background-color: #007bff;
    color: white;
}

#google-sign-in {
    background-color: #3b3b3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link {
    text-align: center;
    font-size: 14px;
}

